<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css.css">
    <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/assets/css/suneditor.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/assets/css/suneditor-contents.css" rel="stylesheet"> -->
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
    <!-- languages (Basic Language: English/en) -->
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/ko.js"></script>
    <title>
   Gabriele Masola     <%= general.title %>
    </title>

</head>


<body id="body">
        <%- include('../template/header', {title: general.title, description: general.description, logo: general.logo })
            %>
                <main>
                        <%- include('../template/admNav') %>
                            <form action="javascript:postData()" method="post">
                        
                        <input type="text" name="title" id="title" placeholder ="Titolo" maxlength="40" maxlength="4" size="40">
                    <textarea name="text" id="text"></textarea>
                        <label for="categories"></label>
                        <select name="category" id="category">
                            <% categories.forEach(function(category) { %>

                                <option value="<%= category %>">
                                    <%= category %>
                                </option>
                                <% }); %>
                        </select>
                        <select name="online" id="online">
                            <option selected value="true">Published
                            </option>

                            <option value="false">Unpublished
                            </option>
                        </select>
                        <input type="submit" value="Salva">
</form>
                        
                        
                    </main>
                <%- include('../template/footer') %>
</body>

  
  
<script>
   
    /**
  * ID : 'suneditor_sample'
  * ClassName : 'sun-eidtor'
  */
  // ID or DOM object
  const editor = SUNEDITOR.create((document.getElementById('text')),{
      // All of the plugins are loaded in the "window.SUNEDITOR" object in dist/suneditor.min.js file
      // Insert options
      // Language global object (default: en)
      lang: SUNEDITOR_LANG['en'],
   
      width : '100%',
      //maxWidth : '600px',
      minWidth : '400px',
      height : 'auto',
      
      "textTags": {
          "bold": "b",
          "underline": "u",
          "italic": "i",
          "strike": "s"
      },
      "mode": "classic",
      "rtl": false,
      "katex": "window.katex",
      "font": [
          "Arial",
          "tahoma",
          "Courier New,Courier"
      ],
      "fontSize": [
          8,
          10,
          14,
          18,
          24,
          36
      ],
      "colorList": [
          [
              "#ff0000",
              "#ff5e00",
              "#ffe400",
              "#abf200"
          ],
          [
              "#00d8ff",
              "#0055ff",
              "#6600ff",
              "#ff00dd"
          ]
      ],
      "imageFileInput": false,
      "videoResizing": false,
      "videoHeightShow": false,
      "videoAlignShow": false,
      "videoFileInput": false,
      "videoUrlInput": false,
      "videoRatioShow": false,
      "audioUrlInput": false,
      "tabDisable": false,
      "buttonList": [
          [
              "undo",
              "redo",
              "font",
              "fontSize",
              "formatBlock",
              "paragraphStyle",
              "blockquote",
              "bold",
              "underline",
              "italic",
              "strike",
              "subscript",
              "superscript",
              "fontColor",
              "hiliteColor",
              "textStyle",
              "removeFormat",
              "outdent",
              "indent",
              "align",
              "horizontalRule",
              "list",
              "lineHeight",
              "table",
              "link",
              "image",
              "video",
              "audio",
              "math",
              "imageGallery",
              "fullScreen",
              "showBlocks",
              "codeView",
              "preview",
              "print",
              "save",
              "template"
          ]
      ],
      "lang": SUNEDITOR_LANG.en,
      "lang(In nodejs)": "en",
      callBackSave: function (contents, isChanged) {
          alert(contents);
      }
  });

  

    async function postData() {
        var data ={
        title: document.getElementById("title").value,
        text: editor.getContents(),
        category: document.getElementById("category").value,
        online: document.getElementById("online").value
    }
  // Default options are marked with *
  await fetch("/admin/posts/new/", {
    method: "POST", // *GET, POST, PUT, DELETE, etc.
    mode: "cors", // no-cors, *cors, same-origin
    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
    credentials: "same-origin", // include, *same-origin, omit
    headers: {
      "Content-Type": "application/json",
       //'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: "follow", // manual, *follow, error
    referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(data), // body data type must match "Content-Type" header
  }).then(response=>window.location.replace(response.url));
}


    </script>