<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css.css">
    <title>
   Gabriele Masola     <%= general.title %>
    </title>
</head>

<body>
        <%- include('../template/header', {title: general.title, description: general.description, logo: general.logo })
            %>
        
                <main>
                    <%- include('../template/admNav') %>
                        <h2> Posts</h2>
                        <ul class="posts_list">
                            <% posts.forEach(function(post) { %>
                                <li class="posts_admin_menù">
                                    <div class="admPostTitle">
                                        <%= post.title %>
                                    </div>
                                    <div class="admPostDate">
                                        <%= post.data %>
                                    </div>
                                    <div class="admPostDate">
                                        <%= post.author %>
                                    </div>
                                    <div class="admPostCategory">
                                        <%= post.category %>
                                    </div>
                                    <div class="admPostedit">
                                        <a href="/admin/posts/edit/<%= post._id %>"> 
                                            <img src="/images/edit.png" alt="edit" class="imgsmall">
                                        </a>
                                    </div>
                                    <div class="admPostDelete"> 
                                    <a href="/admin/posts/delete/<%= post._id %>">
                                         <img src="/images/cancel.png" alt="delete" class="imgsmall">
                                        </a> 
                                    </div>
                                    <% if(post.online===true){ %>
                                        <img src="/images/online.png" alt="online" class="imgsmall">
                                        <% } %>
                                            <% if(post.online===false){ %>
                                                <img src="/images/offline.png" alt="offline" class="imgsmall">
                                                <% } %>
                                </li>
                                <% }); %>
                        </ul>
                </main>
            <%- include('../template/footer') %>
 </body>
</html>