<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css.css">
    <title>
   Gabriele Masola     <%= general.title %>
    </title>

</head>


<body>
 <%- include('../template/header', {title: general.title, description: general.description, logo: general.logo })
            %>
                   <main>                  
                        <%- include('../template/admNav') %>
                    <h2>
                        Settings
                    </h2>
                    <div id="setting-warp">
                    <form action="/admin/settings/" method="post" encType="multipart/form-data" id="settings" >
        
                            <h3>General</h3>
                            <label for="title"> Title</label>
                            <input type="text" name="title" id="title" value="<%= general.title %>">
                            <label for="description"> Description</label>
                            <textarea name="description" id="description" cols="30" rows="5"><%= general.description %></textarea>
                          
                            <h3>Posts</h3>
                            <label for="PostForPage">Post for Page</label>
                            <input type="text" name="postForPage" id="postForPage"   maxlength="4" size="4" value="<%= posts.postsForPage %>">
                        <input type="submit" value="Salva">
                    </form>
                    <form action="/admin/add/category/" method="post" encType="multipart/form-data" id="addCategory" >                          
                        <h3>Categories</h3>                        
                           
                            <input type="text" name="category" >
                            <input type="submit" value="Aggiungi">
                            <ul id="categories">
                                <% categories.forEach(function(cat) { %>
                                  <li>
                                    <%= cat %> 
                                    <a href="/admin/delete/category/<%= cat %> "><img id="<%= cat %>" class="imgsmall" src="/images/cancel.png" ></a>
                                  </li>
                                    <% }); %>
                            </ul>
                        </form>
                    </div>
                    
                </main>
            <%- include('../template/footer') %>
</body>

</html>
<script>
    var categories = document.getElementById('categories')
    categories.addEventListener('click', e => {
                if (e.target.className === "delete") {
            console.log(e.target.id)
            var category = document.getElementById(e.target.id)
            category.remove()
        }


        if (e.target.className === "addCat") {
            var category = document.getElementById('category')
            console.log(category.value)
            if (category.value !== "") {
                categories.innerHTML += `<li id="${category.value}">- ${category.value} <input type="hidden" name="categories" value="${category.value}"> <img id="${category.value}"  class="delete"src="/images/cancel.png" alt=""></li>`
            }
        }
    })

</script>