<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css.css">
    <title>
        <%= general.title %>
    </title>

</head>


<body>
        <%- include('template/header', {title: general.title, description: general.description, logo: general.logo }) %>
            <%- include('template/nav', {categories: categories}) %>
                
                    <main>
                        <ul>
                            <% postsInPage.forEach(function(post) { %>

                                <%- include('template/body', {post:post}) %>

                                    <% }); %>
                        </ul>
                        <ul class="pagination">
                            <span> <a href="<%= pagination.firstPage %>">Inizio</a></span>


                            <% if (pagination.currentPage> pagination.firstPage) { %>
                                <span><a href="<%= pagination.previusPage %>">&#60; </a></span>
                                <%} else { %>
                                    <span></span>
                                    <% } %>

                                        <ul>
                                            <% pagination.pages.forEach(function(page) { %>
                                                <li><a href="<%= page %>">
                                                        <%= page %>
                                                    </a></li>
                                                <% }); %>
                                        </ul>

                                        <% if (pagination.currentPage < pagination.lastPage) { %>
                                            <span> <a href="<%= pagination.nextPage %>">&#62;</a></span>
                                            <%} else { %>
                                                <span></span>
                                                <% } %>

                                                    <span> <a href="<%= pagination.lastPage %>">Fine</a></span>

                        </ul>
                    </main>
               <%- include('template/footer') %>
</body>

</html>