<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css.css">
    <title>
        <%= general.title %>
    </title>

</head>


<body>
    <div id="warper">

        <%- include('template/header', {title: general.title, description: general.description, logo: general.logo }) %>
            <%- include('template/nav', {categories: categories}) %>



                <div id="user-bar"></div>
                <div id="main-warp">
                    <main>
                        <ul>
                            <% postsInPage.forEach(function(post) { %>

                                <%- include('template/body', {post:post}) %>

                                    <% }); %>
                        </ul>
                        <ul class="pagination">
                            <span> <a href="<%= pagination.firstPage %>"><%= pagination.firstPage %></a></span>
                            <span><a href="<%= pagination.previusPage %>">Previus </a></span>

                            <ul><% pagination.pages.forEach(function(page) { %>
                                <li><a href="<%= page %>"><%= page %></a></li>
                            <% }); %>
                            </ul>

                            <span> <a href="<%= pagination.nextPage %>">Next</a></span>
                            <span> <a href="<%= pagination.lastPage %>"><%= pagination.lastPage %></a></span>
                            
                        </ul>
                    </main>
                </div>
                <%- include('template/footer') %>
    </div>





</body>

</html>