<li>
    <article class="post">
        <h3 class="post-title">
              <a href="/post/<%= post.id %>"><%= post.title %></a> 
        </h3>
        <div class="post-info"> <span>
                <%= post.author %>
            </span> <span>
                <%= post.category %>
            </span><span>
                <%= post.data %>
            </span> </div>
        <div class="previw">
            <% if (post.text.length > 4000) { %>
            <%- post.text.slice(0,4000) %>...
        <%} else { %>
              <%- post.text %>  
            <% } %>
       
           
        </div>



        <div class="post-details">
            <div>
               <a href="/post/<%= post.id %>">continua</a> 
            </div>
            
        </div>

    </article>
</li>